<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    {{ partial "y-head.html" . }}
</head>
<body>
        {{ partial "y-header.html" . }}
        {{ partial "y-banner.html" . }}
        {{ partial "y-automation.html" . }}
        {{ partial "y-theory.html" . }}
        {{ partial "y-autofuncton.html" . }}
        <!-- {{ partial "y-character.html" . }} -->
        {{ partial "y-workflow.html" . }}

        <!-- {{ partial "y-report.html" . }} -->
        {{ partial "y-smartIo.html" . }}
        <!-- {{ partial "y-marketing.html" . }} -->
        {{ partial "footer.html" . }}
        
</body>
</html>





