body {
  margin: 0;
  padding: 0;
  font-size: 14px;
  font-family: "DFPKingGothicGB-Regular", sans-serif, "Microsoft Yahei",
    "微软雅黑", "San Francisco", "Lucida Grande", "Lucida Sans Unicode",
    "helvetica neue", Verdana, tahoma, Aril, PingFangSC-Light,
    "hiragino sans gb", STXihei, "华文细黑", "WenQuanYi Micro Hei",
    "Microsoft YaHei UI", "Microsoft YaHei", Heiti, "黑体", sans-serif;
  color: #333;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
body a {
  color: #000;
  text-decoration: none;
}
body a:hover {
  text-decoration: none;
}
a {
  color: #000;
  text-decoration: none;
}
body ul {
  padding: 0;
  margin: 0;
  list-style: none;
}
body h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}
.b-center {
  width: 80%;
  margin: 0 auto;
  /* overflow:hidden */
}
.content-center {
  width: 1280px;
  margin: 0 auto;
  /* overflow:hidden */
}
.small-center {
  width: 1080px;
}
.y-header {
  height: 40px;
  padding: 15px 0;
  margin-bottom: 20px;
  position: fixed;
  z-index: 6;
  width: 100%;
  background-color: #fff;
}
.y-header a {
  color: #666;
}
.y-header .b-center {
  height: 55px;
}
.y-header h1 {
  float: left;
}
.y-header h1 img {
  height: 40px;
  margin-top: -20px;
}
.y-header .child_nav_2 {
  position: absolute;
  top: 70px;
  left: 0;
  box-shadow: 1px 1px 1px #ccc;
  border-radius: 4px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #fff;
  opacity: 0.8;
  z-index: 5;
  display: none;
  height: 0;
}
.nav_2_sub {
  height: 70px;
  width: 780px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.nav_2_sub2 {
  width: 580px;
}
.y-header .child_nav_2 a {
  display: block;
  position: relative;
  /* transform: scale(0.9, 0.9); */
}
.y-header .child_nav_2 .stand {
  width: 1px;
  height: 30px;
  display: block;
  background-color: #ccc;
  opacity: 0.3;
}
.y-header nav {
  height: 40px;
  float: left;
}
.mark {
  border-bottom: 3px solid #52c41a;
}
.line {
  display: block;
  width: 0px;
  height: 3px;
  background-color: #52bad5;
  margin: 0 auto;
  opacity: 0;
}
.y-header nav .nav_item {
  float: left;
  padding: 0px 10px 13px;
  font-size: 14px;
  line-height: 40px;
  width: 80px;
  text-align: center;
}
.kind {
  position: absolute;
  top: 0;
  left: 200px;
}
.y-header nav .nav_item .scope {
  display: block;
  width: 80px;
  height: 52px;
  margin-left: 7px;
  font-weight: 500;
}
#left {
  top: 50%;
}
#right {
  top: 50%;
}
.child_nav {
  position: absolute;
  top: 55px;
  float: left;
  width: 140px;
  height: 140px;
  background-color: #fff;
  border-radius: 0 0 6px 6px;
  opacity: 0;
  height: 0;
}
.right_more {
  position: absolute;
  top: 0;
  right: 50px;
  height: 42px;
  line-height: 42px;
}
.auto_marking {
  position: relative;
}
.sf-menu .auto_item {
  position: absolute;
  top: 0;
  left: 140px;
  margin-top: 0;
  height: 160px;
  background-color: #fff;
  font-size: 14px;
  line-height: 22px;
  border-radius: 0 0 6px 6px;
  height: 0;
  opacity: 0;
}
/* .auto_item .current:nth-of-type(4) {
  border-radius: 0 0 6px 6px;
}
.child_nav .child_block:nth-of-type(3) {
  border-radius: 0 0 6px 6px;
} */
.child_block a {
  display: block;
  width: 100px;
  padding: 10px 20px;
  text-align: left;
  color: #666;
}
.auto_item .current a {
  display: block;
  color: #666;
  width: 100px;
  padding: 10px 20px;
  text-align: center;
}
.y-header .tip {
  float: right;
  font-size: 14px;
  margin-top: 8px;
  color: #fff;
}
.y-header .tip .phone {
  float: left;
  margin-right: 20px;
  margin-top: 4px;
  font-weight: 500;
}
.y-header .tip .phone img {
  width: 30px;
  margin-top: -5px;
}
.y-header .tip .phone a:hover {
  color: #2c9ab7;
}
.y-header .tip .consult {
  float: left;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-color: #52bad5;
  margin-right: 20px;
  border-radius: 6px;
  margin-top: -3px;
}
.y-header .tip .consult:hover {
  background-color: #2c9ab7;
}
.y-header .tip .consult a {
  padding: 0 10px;
  color: #fff;
}
.y-header .tip .login {
  float: left;
  margin-right: 20px;
  height: 25px;
  line-height: 25px;
  font-weight: 500;
}
.y-header .tip .login a:hover {
  color: #2c9ab7;
}
.y-header .tip .search {
  float: left;
}
.y-banner {
  height: 400px;
  position: relative;
  padding-top: 80px;
  background-image: url(/images/bgbanner6.jpg);
  position: relative;
  z-index: 2;
}
.y-banner .content {
  position: absolute;
  top: 150px;
  left: 50%;
  margin-left: -168px;
  text-align: center;
  color: #fff;
  z-index: 5;
}
.y-banner .color {
  background-color: red;
  opacity: 0.1;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 4;
}
.y-banner .content h3 {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  font-family: "楷体";
  height: 40px;
}
.y-banner .content h4 {
  text-align: center;
    font-size: 26px;
    font-weight: 400;
    line-height: 32px;
    font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
 "Lucida Sans", Arial, sans-serif;
}
.y-banner .content .desc {
  font-size: 32px;
  line-height: 40px;
  margin-bottom: 15px;
  font-family: "楷体";
}
.y-banner .content p {
  font-size: 16px;
  text-align: center;
  font-family: "楷体";
}
.y-banner .content .zuce {
  width: 120px;
  height: 40px;
  border-radius: 20px;
  background-color: #e27a24;
  color: #fff;
  text-align: center;
  margin: 0 auto;
  line-height: 40px;
  font-size: 18px;
  margin-top: 20px;
  display: inline-block;
  margin: 20px 20px;
  cursor: pointer;
}
.banner_line {
  display: inline-block;
  width: 1px;
  height: 10px;
  background-color: #fff;
  margin: 0 10px;
}
.y-banner img {
  width: 100%;
  height: 100%;
}
.y-banner .place {
  position: absolute;
  left: 50%;
  top: 550px;
  right: 0;
  width: 60px;
  margin-left: -30px;
}
.y-banner img {
  width: 100%;
  /* height: 500px; */
}
.item-default {
  /* height: 350px; */
  /* margin-bottom: 40px; */
}
.item-default h3,
.item_auto h3 {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  font-family: "楷体";
  height: 40px;
}
.item-default h5 {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  line-height: 26px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.item-default .intro {
  width: 902px;
  margin: 0 auto;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  margin-top: 66px;
  font-family: "幼圆";
}
.item-default .message {
  width: 100px;
  height: 28px;
  line-height: 28px;
  margin: 10px auto;
  border: 1px solid #fff;
  text-align: center;
  border-radius: 2px;
  /* background-color: #13c2c2; */
  color: #fff;
}
.item-default .harvest {
  text-align: center;
  height: 25px;
  line-height: 25px;
  margin: 15px 0;
  font-weight: 600;
  font-style: normal;
  font-size: 16px;
  font-family: "幼圆";
}
.item-default .harvest span {
  font-weight: 400;
  font-style: normal;
  font-size: 28px;
  margin: 0 5px;
}
.item-default .go {
  height: 25px;
  line-height: 25px;
  margin: 10px 0;
  text-align: center;
  font-weight: 400;
  font-style: normal;
  font-size: 12px;
}
.auto_theory {
  width: 60%;
  margin: 0 auto 40px;
}
.autofunction {
  background-color: #fcfcfc;
  /* background: linear-gradient(right,#fff,#a4e094);  */
  /* background-image: -webkit-radial-gradient(ellipse,rgb(253,209,78),rgb(252,119,150)); */
  /* background: -webkit-linear-gradient(left,rgb(221, 213, 96),#f6df61);  
  background: -o-linear-gradient(left,#bdf7de,#a4e094);  
  background: -moz-linear-gradient(left,#bdf7de,#a4e094);  
  background: -mos-linear-gradient(left,#bdf7de,#a4e094);  
  background: linear-gradient(left,#bdf7de,#a4e094);   */
  /* background-color:#a4e094; */
  color: #000;
}
.autofunction .distribute {
  width: 920px;
}
.autofunction img {
  width: 450px;
}
.y-autofunction {
  /* width: 1280px; */
  /* margin: 0 auto 40px; */
  /* background-image: url(/images/30.jpg); */

  background-size: 100% 100%;
}

.item-default .left {
  float: left;
  margin-top: 40px;
  margin-left: 20px;
}
.item-default .right {
  float: right;
  margin-top: 40px;
  position: relative;
}
.y-autofunction h3 img {
  /* margin-bottom: 50px; */
  width: 200px;
}
.y-autofunction .right {
  margin-left: 50px;
}

.y-autofunction .right img:nth-of-type(2) {
  position: relative;
  left: 180px;
  top: 20px;
}
.y-autofunction .message {
  margin-top: 30px;
}
.smartIo {
  background-color: #d4d1c0;
  /* background-image: -webkit-radial-gradient(ellipse,rgb(250,208,206),rgb(255,154,158)); */
  /* background: -webkit-linear-gradient(left,#e4e6dd,#e4e7d6);  
  background: -o-linear-gradient(left,#bdf7de,#a4e094);  
  background: -moz-linear-gradient(left,#bdf7de,#a4e094);  
  background: -mos-linear-gradient(left,#bdf7de,#a4e094);  
  background: linear-gradient(left,#bdf7de,#a4e094);  */
  color: #660066;
}
body .smartIo .harvest {
  /* color: #ffbc9a; */
  font-size: 17px;
}
.y-smartIo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.y-smartIo .title {
  margin-bottom: 30px;
}
.y-smartIo h4,
.y-smartIo h5 {
  text-align: center;
  font-size: 32px;
  line-height: 40px;
}
.y-smartIo .center {
  padding-top: 70px;
}
.character {
  background-color: #c9c9c9;
  /* background-image: -webkit-radial-gradient(ellipse,rgb(99,224,216),rgb(174,151,207)); */
  /* background: -webkit-linear-gradient(left,#eeadaf,#ff9598);  
  background: -o-linear-gradient(left,#bdf7de,#a4e094);  
  background: -moz-linear-gradient(left,#bdf7de,#a4e094);  
  background: -mos-linear-gradient(left,#bdf7de,#a4e094);  
  background: linear-gradient(left,#bdf7de,#a4e094);   */
  color: #fff;
}
.y-character img {
  width: 408px;
  height: 323px;
}
.report {
  background-color: #81b9b6;
  /* background-image: -webkit-radial-gradient(ellipse,rgb(49,183,192),rgb(49,15,110)); */
  /* background: -webkit-linear-gradient(left,#76a3fa,#669aff);  
  background: -o-linear-gradient(left,#bdf7de,#a4e094);  
  background: -moz-linear-gradient(left,#bdf7de,#a4e094);  
  background: -mos-linear-gradient(left,#bdf7de,#a4e094);  
  background: linear-gradient(left,#bdf7de,#a4e094);  */
  position: relative;
  color: #fff;
}
.report_yunUp {
  position: absolute;
  top: 80px;
  right: 0;
  /* width: 560px; */
}
.y-report img {
  width: 416px;
  height: 378px;
}
.y-workflow img {
  width: 438px;
}
.y-smartIo img {
  width: 372px;
  height: 350px;
}
.workflow {
  background-color: #f4f5f0;
  /* background-image: -webkit-radial-gradient(ellipse,rgb(231,140,155),rgb(183,179,229)); */
  color: #993300;
}
.marketing {
  background-size: 100% 100%;
  /* background-image: -webkit-radial-gradient(ellipse,rgb(220,75,200),rgb(0,0,75)); */
  /* background: -webkit-radial-gradient(ellipse at center, #ff58bc 0%, #00702c 100%); 
  background: -o-linear-gradient(left,#bdf7de,#a4e094);  
  background: -moz-linear-gradient(left,#bdf7de,#a4e094);  
  background: -mos-linear-gradient(left,#bdf7de,#a4e094);  
  background: linear-gradient(left,#bdf7de,#a4e094);  */
  background-color: #f4f5f0;
  color: #333;
}
.y-marketing .left {
  position: relative;
  width: 400px;
  height: 400px;
}
.y-marketing .left img {
  position: absolute;
  width: 80px;
  height: 90px;
}
.y-marketing .left .marketA {
  left: 50%;
  margin-left: -40px;
}
.y-marketing .left .marketB {
  top: 50%;
  margin-top: -45px;
  left: 0;
}
.y-marketing .left .marketC {
  left: 50%;
  margin-left: -40px;
  top: 50%;
  margin-top: -45px;
}
.y-marketing .left .marketD {
  right: 0;
  top: 50%;
  margin-top: -45px;
}
.y-marketing .left .marketE {
  left: 50%;
  margin-left: -40px;
  bottom: 0;
}
.y-marketing .left .marketF {
  width: 60px;
  height: 28px;
}
.y-marketing .left .marketleft {
  top: 50%;
  margin-top: -14px;
  left: 90px;
}
.y-marketing .left .marketright {
  top: 50%;
  margin-top: -14px;
  right: 90px;
}
.y-marketing .left .marketG {
  width: 28px;
  height: 60px;
}
.y-marketing .left .marketup {
  left: 50%;
  margin-left: -14px;
  top: 100px;
}
.y-marketing .left .marketdown {
  left: 50%;
  margin-left: -14px;
  bottom: 90px;
}
.y-smartIo .left {
  width: 400px;
  height: 300px;
  position: relative;
  display: flex;
  justify-content: space-around;
  align-items: space-around;
  flex-direction: column;
}
.y-apply {
  padding-bottom: 40px;
}
.y-apply h3 {
  font-size: 42px;
  text-align: center;
  margin-bottom: 40px;
  color: #555;
  font-family: "宋体";
}
/* 缩小版 */
.y-apply .center {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 880px;
  height: 500px;
  margin: 0 auto;
}
.y-apply-h {
  height: 300px;
}
.y-apply .center .block {
  height: 240px;
  width: 200px;
}
.y-apply 
/* 营销自动化的轻量级 */

.y-teamwork .size {
  width: 60%;
  text-align: center;
}
.y-teamwork .size h3 {
  font-size: 32px;
  margin-bottom: 50px;
}
.y-teamwork .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.y-apply {
  padding-top: 40px;
  background-color: #f2f2f2;
}
.y-apply img {
  width: 100px;
}
.y-apply .model {
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 340px;

  /* padding-bottom: 20px; */
  /* border-bottom: 1px solid #ccc; */
  /* border-top: 1px solid #000; */
}
.y-apply .block {
  width: 250px;
  height: 340px;
  text-align: center;
  /* float: left; */
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  /* border: 1px solid #ccc; */
  border-radius: 2px;
  background-color: #ffff;
  margin-top: -200px;
}

.y-apply .block .desc {
  /* position: absolute; */
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  /* background-color: #fff; */
  color: rgba(0, 0, 0, 0.75);
  justify-content: center;
  align-items: center;
  /* display: none; */
  height: 0;
  position: relative;
  bottom: 0;
  /* height: 80px; */
  opacity: 0;
}

.y-apply .block .title {
  font-size: 18px;
  text-align: center;
  line-height: 26px;
  margin: 0;
  margin-top: 6px;
  font-weight: bold;
  color: rgba(0, 0, 0, 0.85);

  /* opacity: 0.85; */
}
.y-apply .block .title-sub {
  color: rgba(0, 0, 0, 0.65);
  font-size: 12px;
  text-align: center;
  /* opacity: 0.85; */
  line-height: 18px;
  margin: 0;
  margin-bottom: 6px;
  font-family: Arial, Helvetica, sans-serif;
  /* font-weight: 0; */
}
.y-apply .block .desc p {
  text-align: center;
  margin-bottom: 0;
}
.application {
  width: 60px;
  height: 20px;
  font-size: 14px;
  text-align: center;
  opacity: 0.85;
  line-height: 20px;
  border: 1px solid #ccc;
  border-radius: 4px;
  /* padding: 10px 0px 20px; */
  color: #000;
  margin: 10px auto;
}
.y-apply-h {
  height: 210px;
  padding: 0;
}
.y-apply-h img {
  width: 55px;
  margin-top: 10px;
}
.y-apply-h .block .title {
  font-size: 13px;
}
.y-apply-h .center .block {
  background-color: transparent;
  width: 150px;
  height: 150px;
  background-color: #fff;
  border-radius:43px 7px;
}
.y-apply-h .center {
  height: 410px;
}
.y-footer {
  /* background-color: #f2f2f2; */
  text-align: center;
  padding: 30px 0 20px;
  box-shadow: 0 -1px 0 0 rgba(6, 8, 8, 0.066);
  /* background-image:url(/images/footer_img.png) ;
  background-size: 100% 100%;
  background-color: #000;
  opacity: 0.3; */
  position: relative;
}
.back {
  position: absolute;
  top: 0;
  left: 0;
}
.back img {
  opacity: 0.3;
  /* background-color: #000; */
  width: 100%;
  height: 360px;
}
.y-footer .content {
  /* display: inline-block; */
  margin: 0 auto;
  width: 80%;
  /* height: 215px; */
}
.y-footer .footer_logo {
  text-align: right;
  /* display: inline-block; */
  /* vertical-align: top; */
  /* float: left; */
  /* margin-top: 30px; */
  /* margin-left: 70px; */
  /* width: 20%; */
  margin: 0 auto;
  width: 100px;
}
.y-footer .footer_logo p {
  width: 100px;
  text-align: center;
  margin-left: 8px;
}
.y-footer .footer_logo img {
  width: 100px;
  text-align: right;
  margin-bottom: 30px;
}
.y-footer .tel {
  text-align: right;
  /* margin-right: 80px; */
}
.y-footer .intro {
  /* display: inline-block; */
  /* float: right; */
  width: 100%;
  height: 220px;
  margin: 0 auto;
}
.y-footer .intro ul {
  width: 958px;
  height: 220px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0 auto;
}
.y-footer .intro li {
  padding: 10px 40px 40px;
  float: left;
}
.y-footer .intro li p {
  text-align: left;
  /* padding: 5px 0; */
  font-weight: 400;
  font-style: normal;
  margin-bottom: 0;
}
.y-footer .intro li p a {
  color: #2c9ab7;
  font-size: 14px;
  line-height: 25px;
  margin-bottom: 4px;
}
.y-footer .intro li .title a {
  font-size: 16px;
  font-weight: bold;
  color: #000;
  line-height: 18px;
}
.y-footer .intro li .title {
  margin-bottom: 12px;
}
.y-footer .text p {
  text-align: center;
  margin-bottom: 0;
}
.y-footer .text p:nth-of-type(1) {
  font-weight: bold;
  font-size: 12px;
}
.y-teamwork {
  text-align: center;
  height: 360px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.y-teamwork .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 1280px;
  margin: 0 auto;
}
.y-teamwork .item img {
  width: 70px;
  /* height: 177px; */
  text-align: center;
  margin-bottom: 20px;
}
.y-teamwork .item {
  text-align: center;
}
.y-teamwork .item p {
  text-align: center;
  font-size: 24px;
  margin-top: 10px;
}
/* 营销自动化锚点部分的样式设置 */
.center_item h4 {
  font-size: 48px;
  line-height: 28px;
  font-weight: bold;
  font-family: "楷体";
  /* margin-bottom: 20px; */
}
.character .center_item h4 {
  /* position: relative;
  display: inline-block; */
}
.character .center_item .trim {
  /* position: absolute;
  top: -18px;
  left: 51px;
  width: 30px; */
  /* box-shadow: 2px 2px 5px #ccc; */
}
.center_item h5 {
  font-size: 20px;
  line-height: 24px;
  font-weight: 400;
  margin-bottom: 40px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.center_item .harvest {
  font-size: 16px;
  font-weight: 400;
  line-height: 38px;
}
.distribute {
  width: 1000px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  /* perspective: 200px;
  transform-style: preserve-3d; */
}
.distribute p {
  font-size: 16px;
  font-family: "楷体";
}
.workflow .distribute {
  margin-left: 120px;
}
.center_item .right img {
  /* width: 100%; */
  transform: rotateX(120deg);
  -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
  transform: rotateX(0deg) rotateY(-5deg);
}
.center_item .left img {
  width: 100%;
  /* transform: rotateX(120deg);
  -webkit-transform: rotateX(-33.5deg) rotateY(45deg);
  transform: rotateX(0deg) rotateY(5deg); */
}
/* 营销自动化 */
.y-automation {
  color: #fff;
  position: relative;

  /* background: -webkit-linear-gradient(left bottom,rgb(134,157,157),#3170A7);   */
  background-color: rgb(134, 157, 157);
  background-image: url(/images/营销自动化77.png);
  background-size: 100% 100%;
}
.maketing {
  position: relative;
  padding-top: 210px;
  padding-bottom: 140px;
}
.y-automation h3 {
  font-size: 52px;
  line-height: 52px;
  font-weight: 400;
  font-family: "楷体";
}
.y-automation h5 {
  font-size: 20px;
  line-height: 26px;
  font-weight: 400;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

.y-automation .intro {
  font-size: 18px;
  line-height: 26px;
  font-weight: 400;
  /* margin-bottom: 40px; */
  margin-top: 77px;
  font-family: "思源黑体";
}
.y-automation .harvest {
  font-size: 16px;
  line-height: 25px;
  line-height: 40px;
  font-weight: 400;
  font-family: "幼圆";
}
.center_item span {
  font-size: 28px;
  line-height: 40px;
  font-weight: bold;
}
.y-automation p:last-of-type {
  /* font-size: 12px; */
}
.function_ask {
  /* width: 600px; */
  height: 60px;
  padding: 40px 0;
  line-height: 60px;
  font-size: 48px;
  color: #000;
  text-align: center;
  font-weight: 500;
  /* background-image: url(/images/function_line.png); */
  background-size: 100% 100%;
  margin: 0;
}
.color_line {
  top: 95px;
  width: 100%;
  height: 6px;
  background-image: url(/images/function_line.png);
  background-size: 100% 100%;
  z-index: 4;
  /* border: 1px solid red; */
}
/* 自动化工作原理 */
.y-theory .auto_theory {
  margin-top: 50px;
}
.y-theory {
  width: 1280px;
  height: 560px;
  background-color: #f2f2f2;
  margin: 40px auto;
}
.y-theory .auto_theory .title,
.y-theory .auto_theory .content {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.ii {
  width: 200px;
  height: 408px;
}
.email-product {
  margin-bottom: 90px;
}
.email-product .center {
}
.email-product h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  padding-top: 70px;
  padding-bottom: 70px;
  font-family: "宋体";
}
.email-product .show-card {
  width: 900px;
  margin: 0 auto;
  height: 520px;
  /* width: 1080px; */
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
}
.email-product .show-card img {
  border-radius: 4px;
  width: 400px;
  height: 500px;
}
.email-product .show-card .c-left {
  width: 400px;
  height: 550px;
  float: left;
  border-radius: 4px;
}
.email-product .show-card .c-right {
  width: 400px;
  height: 550px;
  float: right;
  border-radius: 4px;
}
.email-product .show-card .left {
  float: left;
  width: 348px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
  font-size: 16px;
  line-height: 26px;
}
.email-product .show-card .right {
  float: right;
  width: 348px;
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 20px;
  text-align: center;
  margin-bottom: 10px;
}
.email-product .left .product-head {
  width: 61px;
  height: 70px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.email-product .left div {
  text-align: left;
}
.email-product .left p {
  text-align: left;
  font-size: 12px;
  text-indent: 2em;
}
.email-product .left p span {
  display: block;
  text-indent: 2em;
}
.email-product .left .text {
  margin-bottom: 60px;
}
.email-product .left .product-foot {
  text-align: center;
}
.email-product .left .product-foot div {
  margin: 0 auto;
  text-align: center;
}
.email-product .left .product-foot span {
  padding: 0 20px;
  font-size: 14px;
}
.email-product .left .product-foot img {
  width: 26px;
  height: 30px;
  margin-bottom: 10px;
}
.email-product .left .product-foot p {
  text-align: center;
  margin-top: 10px;
}
.email-product .right .product-head {
  margin-top: 65px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}
.email-product .right img {
  margin-bottom: 15px;
}
.email-product .right .text p {
  text-align: center;
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 12px;
}
.email-product .right .text .now {
  width: 70px;
  height: 20px;
  padding: 0 5px;
  /* background-color: rgba(22, 155, 213, 1); */
  line-height: 20px;
  font-size: 14px;
  color: #000;
  margin: 0 auto;
  border-radius: 4px;
  margin-top: 25px;
  margin-bottom: 30px;
}
.email-product .right .annotation p {
  text-align: center;
  padding: 0;
  margin: 0;
  font-size: 12px;
}
.show-card .tip {
  text-align: center;
  padding: 0;
  margin: 0;
  margin-top: 15px;
  font-size: 16px;
}
.y-more-information {
  height: 632px;
  padding-bottom: 15px;
  padding-top: 35px;
  background-color: #fff;
}
.y-more-information .center {
  margin: 0 auto;
}
/* .y-more-information .item {
  position: relative;
  padding: 10px 20px;
  text-align: center;
  float: left;
  background-color: #fff;
  border-radius: 120px;
  width: 180px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.y-more-information .item{
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  text-align: center;
}
.y-more-information .item .information {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  border-radius: 120px;
  background-color: #1296db;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.y-more-information .item img {
  width: 68px;
  /* margin-top: 14px; */
}
.y-more-information h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
  margin-bottom: 30px;
  font-family: "宋体";
  margin-top: 51px;
}
.y-more-information .item span {
  padding: 10px 0;
  display: block;
  word-wrap: break-word;
  font-size: 17px;
}
.y-more-information .item p {
  padding: 0;
  margin: 0;
  line-height: 20px;
  font-size: 12px;
  font-weight: 500;
}
.y-more-information .item img {
  /* width: 90px;
  height: 50px; */
}
.y-more-information .block {
  margin-top: 40px;
  width: 1080px;
  margin: 0 auto;
  height: 220px;
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  font-family: "思源黑体";
}

.y-more-information .tip {
  text-align: center;
  margin-top: 22px;
  color: #ccc;
  font-size: 12px;
}
.y-solution {
  margin-bottom: 40px;
}
.y-solution h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 40px;
}
.y-solution .solutionA {
  margin-bottom: 80px;
}
.y-solution .solutionA .title {
  text-align: center;
  font-weight: 600;
  font-size: 20px;
}

.y-solution .solutionA h3 {
  margin-top: 0px;
  margin-bottom: 20px;
  font-weight: 600;
  font-size: 20px;
}
.y-solution .content {
  width: 1080px;
  margin: 0 auto;
  text-align: center;
}
.y-solution .content .tip {
  text-align: center;
  line-height: 20px;
  font-size: 20px;
  border-radius: 4px;
  /* border: 1px solid #000; */
  margin: 0 auto;
  width: 100px;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 12px;
  color: #fff;
  background-color: rgba(22, 155, 213, 1);
}
.y-solution .content .type span {
  text-align: center;
  line-height: 20px;
  font-size: 14px;
  font-weight: 500;
  margin: 0 20px;
}
.y-solution .content .type {
  margin-bottom: 20px;
}
.y-solution .more {
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: rgba(22, 155, 213, 1);
  border-radius: 4px;
  margin: 0 auto;
}
.y-solution .more:hover {
  background-color: #2c9ab7;
}
.y-solution .more a {
  color: #fff;
}
.y-note-market,
.y-email-market {
  padding-top: 70px;
  /* padding-bottom: 88px; */
  /* background-image: url(/images/blue-bg.png); */
  background-size: 100% 100%;
  background-color: #26c3f2;
  color: #fff;

}
.y-note-market .image{
  background-image: url(/images/blue-bg.png);
  padding-bottom: 88px;
  padding-top: 40px;
}
.y-email-market {
  position: relative;
  background-image: url(/images/邮件77.png);
  color: #fff;
  /* height: 520px; */
}
.y-email-market .mark {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.35);
  border-bottom: none;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
}
.provide-solution {
  height: 586px;
  margin-top: -52px;
}
.provide-solution .text{
  width: 1080px;
  margin: 0 auto;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #666;
}
.provide-solution .text div{
  display: none;
}
.provide-solution .text div a{
  float: right;
  color: #1296db;
}
.provide-solution .text div:nth-of-type(1){
  display: block;
}
.provide-solution .annotation {
  width: 1080px;
  margin: 0 auto;
  height: 20px;
  line-height: 20px;
  font-size: 14px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #666;
}
.provide-solution .annotation div{
  display: none;
}
.provide-solution .annotation div:nth-of-type(1){
  display: block;
}
.provide-solution .project {
  width: 120px;
  height: 40px;
  line-height: 40px;
  font-size: 18px;
  color: #fff;
  text-align: center;
  background-color: rgba(22, 155, 213, 1);
  border-radius: 4px;
  margin: 0 auto;
}
.project a {
  color: #fff;
}
.project a:hover {
  color: #fff;
}
.provide-solution .project:hover {
  background-color: #2c9ab7;
  color: #fff;
}
.provide-solution h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 300;
  margin-bottom: 60px;
  margin-top: 60px;
}
.provide-solution .title {
  text-align: center;
  font-size: 0;
  /* margin-bottom: 44px; */
}
.provide-solution .content {
  text-align: center;
  padding: 10px 20px;
  /* border: 3px solid #26c3f2; */
  width: 1080px;
  overflow: hidden;
  margin: 0 auto;
  border-radius: 15px;
}
.provide-solution .title .solutionB,
.provide-solution .title .solutionA {
  display: inline-block;
  width: 200px;
  text-align: center;
  border: 1px solid #fff;
  padding: 15px 30px 5px;
  position: relative;
  cursor: pointer;
}
.provide-solution .title .solutionA {
  background-color: #fff;
  color: #26c3f2;
  border-radius: 4px 0 0 0;
}
.provide-solution .title .solutionB {
  margin-left: -1px;
  border-radius: 0 4px 0 0;
  color: #fff;
}
.provide-solution .title .triangle {
  position: absolute;
  top: 96px;
  left: 126px;
  border: 10px solid transparent;
  border-bottom: 10px solid #26c3f2;
  display: none;
}
.triangle_white {
  position: absolute;
  border: 9px solid transparent;
  border-bottom: 9px solid #fff;
  top: -5px;
  left: -9px;
}
.provide-solution .title .solutionA .triangle {
  /* display: block; */
}
.provide-solution .title div p {
  font-weight: 600;
  font-size: 16px;
}
.provide-solution .solution_example {
  /* background-color: #e27a24; */
  width: 2160px;
  /* display: inline-block; */
  /* border: 1px solid #1296db; */
  margin: 0 auto;
  padding: 2px;
  border-radius: 10px;
}
.provide-solution .solution_example .example{
  float: left;
  width: 1080px;
}
/* .provide-solution .solution_example .solutionA_example {
  display: block;
}
.provide-solution .solution_example .solutionB_example {
  display: none;

} */
.provide-solution .solution_example .block {
  /* padding: 20px 50px; */
  /* background-color: #fff; */
  height: 410px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}
.provide-solution .solution_example .block img{
  width: 1000px;
}
.y-note-market .center {
  width: 1080px;
  margin: 0 auto;
}
.y-note-product{
  position: relative;
  background-color: #fafafb;
  padding-top: 60px;
}
.y-note-product .icon{
  position: absolute;
  top: 0;
  right: 0;
}
.y-note-product h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;

}
.y-note-product ul {
  height: 550px;
  width: 1080px;
  margin: 0 auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.y-note-product li .model{
  width: 200px;
  height: 380px;
  float: left;
  background-image: url(/images/iphoneX.png);
  background-size: 100% 100%;
  text-align: center;
}
.y-note-product li .model .content{
  width: 150px;
  padding: 10px  5px;
  /* border: 1px solid #ccc; */
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 4px;
  font-size: 12px;
  text-align: justify;
}
.y-note-product li .model .voice{
  width: 150px;
  padding: 10px  5px;
  margin: 0 auto;
  margin-top: 20px;
  font-size: 12px;
  text-align: justify;
}
.y-note-product li .model .voice span{
  display: block;
  line-height: 20px;
  font-size: 14px;
}
.y-note-product li .model .voice .bold{
  font-weight: bold;
  font-size: 16px;
}
.y-note-product li .model .voice .phone{
  margin-top: 70px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}
.y-note-product li .model .voice .phone img{
  width: 50px;
}

.y-note-product li .model img{
  margin-top: 30px;
  margin-left: 11px;
}
.y-note-product li p {
  line-height: 30px;
  text-align: center;
  margin-top: 30px;
}
.y-form {
  /* width: 1080px; */
  margin: 0 auto;
  /* height: 640px; */
  /* padding: 40px 0; */
  /* display: flex;
  justify-content: space-around;
  align-items: center; */
  padding-top: 70px;

  padding-bottom: 50px;
}
.y-form .formbg {
  color: #fff;
  font-size: 52px;
  padding-left: 150px;
  padding-top: 150px;
  /* width: 100%; */
  height: 300px;
  font-family: "楷体";

  background: url(/images/formbg.jpg) no-repeat;
}
.y-form .information {
  width: 1180px;
  margin: 0 auto;
}
.y-form .left {
  width: 520px;
  float: left;
  position: relative;
  margin-top: -88px;
  padding-top: 38px;
}

/* 表单新增 */
.y-form .left .block_one {
  height: 75px;
  vertical-align: middle;
}
.y-form .left .block_one .align_right {
  text-align: right;
}
.y-form .left .block_one .align_left {
  text-align: left;
}
.y-form .left .block_one #title-sub {
  margin-right: 0px;
}
.y-form .left .block_one .content-sub {
  margin-right: 100px;
}
.y-form .left .block_one .title {
  margin-right: 100px;
}
.y-form .left .block_one .title,
.y-form .left .block_one .content {
  width: 200px;
  /* height: 90px; */
  /* text-align: center; */
  display: inline-block;
  vertical-align: middle;
}
.y-form .left .block_one .title {
  /* text-align: left; */
  font-size: 16px;
  font-weight: bold;
}
.y-form .left .block_one:nth-of-type(2) {
  margin-top: 34px;
}
.y-form .left .block_one:nth-of-type(3) {
  margin-top: 44px;
}
.y-form .left .shape_circle {
  display: block;
  margin: 0 auto;
  width: 16px;
  height: 16px;
  background-color: #fff;
  border: 3px solid #2c9ab7;
  /* margin-top: 25px; */
  border-radius: 11px;
}
.y-form .left .shape_circle:nth-of-type(1) {
  background-color: #2c9ab7;
  border: 3px solid #fff;
}
.y-form .left .shape {
  width: 30px;
  display: inline-block;
  position: absolute;
  top: -60px;
  left: 235px;
}

.y-form .left .shape_wire {
  display: block;
  width: 3px;
  height: 97px;
  background-color: #ccc;
  border-radius: 2px;
  margin: 0 auto;
}

.y-form .left h3 {
  text-align: center;
  font-size: 36px;
  font-weight: 400;
}
.y-form .right {
  width: 450px;
  /* height: 580px; */
  background-color: #fff;
  box-shadow: 0 0 0 1px #ccc;
  /* border: 1px solid #666; */
  border-radius: 8px;
  float: right;
  margin-top: -380px;
  padding: 20px 50px;
  /* background-color: #339966; */
  /* text-align: center; */
}

.y-form .left .item h5 {
  text-align: center;
  font-size: 22px;
  font-weight: 400;
  margin-top: 20px;
  margin-bottom: 20px;
}
.code_button,
.code_button_mf {
  position: absolute;
  width: 206px;
  background-color: #fff;
  border: none;
  border: 1px solid #ccc;
  border-radius: 2px;
  height: 40px;
  line-height: 40px;
  top: 25px;
  left: 216px;
  color: #666;
}
.y-form .left .item div {
  text-align: center;
}
.y-form .right h4 {
  text-align: center;
  font-size: 24px;
  font-weight: 400;
  margin-bottom: 20px;
}
.y-form .right .text {
  margin-top: 15px;
  margin-bottom: 15px;
}
.y-form .right .text span {
  width: 80px;
  display: inline-block;
}
.y-form .right .text p {
  margin-bottom: 4px;
}
.y-form .right .text input,
.y-form .right .text select {
  padding: 0;
  margin: 0;

  /* width: 320px; */
  height: 30px;
  border-radius: 2px;
  border: 1px solid #ccc;
  padding: 0 10px;
  outline: none;
  width: 400px;
  color: #666;
  height: 40px;
  line-height: 40px;
}
.y-form .right .text .import {
  float: right;
  width: 6px;
  height: 6px;
  margin-left: 10px;
  margin-top: 18px;
}
.y-form .right .phone_block {
  position: relative;
}
.y-form .right .text .random,
.y-form .right .text .code {
  width: 170px;
  margin-right: 20px;
  display: inline-block;
}
.y-form .right .text .random img {
  width: 100%;
  height: 100%;
}
.y-form .right .text select {
  /* width: 340px; */
  width: 420px;
}
.y-form .right .text .random {
  /* position: absolute;
  top: 28px;
  left: 294px; */
  vertical-align: top;
  margin-right: 0;
  width: 120px;
  height: 40px;
}
.y-form .right .text .redraw {
  display: inline-block;
  width: 80px;
  border: 1px solid #cccc;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: top;
  border-radius: 2px;
}
.y-form .right .text .randomimg {
  width: 70px;
  height: 30px;
}
.y-form .right .text .randomimg img {
  width: 100%;
}
.y-form .right .text .rotate {
  width: 30px;
  height: 30px;
}
.remark textarea {
  width: 330px;
  height: 120px;
  resize: none;
}
.remark span {
  width: 80px;
  display: inline-block;
}
.submit {
  text-align: center;
  margin-bottom: 30px;
  margin-top: 20px;
  width: 420px;
}
.submit .order {
  border: none;
  background-color: #e27a24;
  margin: 0 auto;
  padding: 6px 0px;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  width: 440px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.submit .tryOne {
  border: none;
  background-color: #e27a24;
  margin: 0 auto;
  padding: 6px 0px;
  border-radius: 4px;
  color: #fff;
  margin-top: 20px;
  width: 440px;
  height: 36px;
  line-height: 36px;
  cursor: pointer;
}
.y-example {
  padding: 40px 0;
  padding-top: 70px;
}
.y-example .case {
  /* width: 1280px;
  margin: 0 auto; */
}
.y-example .case .success {
  /* padding: 176px 0; */
  width: 100%;
  /* background-image: linear-gradient(to right, #5ae1c0, #1ec2d0); */
  color: #fff;
  /* background-image: url(/images/blue-bg2.png);
  background-size: 100% 100%; */
  /* margin-bottom: 90px; */
 
}
.y-example .case .success .title{
  padding: 30px 0 40px;
  height: 300px;
  display: flex;
  justify-content:center;
  align-items: center;
  background-image: url(/images/blue-bg2.png);
  background-size: 100% 100%;
  /* margin-right:17%;  */
}
.y-example h3 {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  font-family: "楷体";
  height: 40px;
}
.y-example h5 {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  /* line-height: 32px; */
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 20px;
  margin-bottom: 00px;
}
.y-example .inverse {
  color: #666;
}
.example-case{
  height: 600px;
  margin-top: -55px;
}
.example-case .title{
  text-align: center;
  font-size: 0;
  margin-bottom: 10px;
}
.example-case .title .case{
  background-color: #26c3f2;
  color: #fff;
  display: inline-block;
  width: 100px;
  text-align: center;
  border: 1px solid #fff;
  padding: 10px 30px 0;
  position: relative;
  cursor: pointer;
}
.example-case .title .CaseA{
  background-color: #fff;
  color: #26c3f2;
  border-radius: 4px 0 0 4px;
}
.example-case .title .CaseA .triangle{
  display: block;
}
.example-case .title .CaseF{
  border-radius: 0px 4px 4px 0px;
}
.example-case .title .case{
  margin-left: -1px;
}
.example-case .title p{
  font-weight: 600;
  font-size: 16px;
  line-height: 34px;
}
.example-case .title .triangle {
  position: absolute;
  top: 47px;
  left: 72px;
  border: 10px solid transparent;
  border-bottom: 10px solid #e27a24;
  display: none;
}
.example-case .triangle_white {
  position: absolute;
  border: 9px solid transparent;
  border-bottom: 9px solid #fff;
  top: -4px;
  left: -9px;
}
.example-case .content{
  text-align: center;
  /* background-color: #e27a24; */
  width: 1080px;
  margin: 0 auto;
  padding: 2px;
  border-radius: 10px;
  overflow: hidden;
  /* border: 3px solid #e27a24; */
}
.example-case .Case_example{
  /* background-color: #e27a24; */
  width: 7560px;
  margin: 0 auto;
  padding: 2px;
  border-radius: 10px;
  height: 450px;
  overflow: hidden;
}
.example-case .Case_example .example{
  float: left;
}
.example-case .Case_example .block{
  padding: 20px 50px;
  background-color: #fff;
  width: 980px;
  height: 410px;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: -1px;
  /* display: none; */
}
.example-case .Case_example .CaseA_example .block{
  display: block;
}
.example-case .print{
  width: 1080px;
  margin: 0 auto;
  height: 20px;
  line-height: 20px;
  font-size: 12px;
  margin-top: 10px;
  margin-bottom: 30px;
  color: #666;
}
.example-case .print div{
  display: none;
}
.example-case .print div a{
  color: #1296db;
  float: right;
}
.example-case .print div:nth-of-type(1){
  display: block;
}
/* .bulk {
  padding: 40px;
}
.bulk:nth-child(odd) {
  background-color: #f2f2f2;
}
.bulk:nth-child(odd) {
  background-color: #ebf0f5;
}
.y-example .case .block .block_center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.y-example .case .block .block_center .center1{
  width: 620px;
}
.y-example .case .block .block_center .center2{
  width: 720px;
}
.y-example .case .block .block_center img {
  height: 370px;
}
.y-example .case .block h5 {
  margin-bottom: 20px;
}
.y-example .case .block p {
  text-align: center;
  margin-bottom: 5px;
  font-size: 16px;
}
.y-example .case .block .tip{
  height: 54px;
}
.y-example .case .block .tip span{
  display: block;
  width: 80px;
  height: 24px;
  line-height: 24px;
  text-align: center;
  background-color: #52bad5;
  color: #fff;
  margin: 0 auto;
  margin-top: 40px;
  border-radius: 4px;
} */

.y-example .next {
  width: 120px;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background-color: rgba(22, 155, 213, 1);
  margin: 0 auto;
  color: #fff;
  border-radius: 4px;
  margin-top: 40px;
}
.y-example .next a {
  color: #fff;
}
.y-example .thank {
  margin-top: 88px;
  text-align: center;
  padding-bottom: 10px;
}
.y-example .thanks {
  /* display: inline-block; */
  margin: 0 auto;
  margin-bottom: 10px;
}
.y-example .thanks div {
  display: inline-block;
}
.y-example .thank img {
  width: 150px;
  /* height: 50px; */
  margin: 0 10px;
}

.y-example .thank_img {
  display: inline-block;
  /* background-color: #f2f2f2; */
  padding: 10px;
}
.y-about {
  width: 1320px;
  margin: 0 auto;
  padding: 68px 0;
}
.y-about .dotted-long{
  position: relative;
  height: 160px;
  width: 870px;
  border-radius: 60px;
  border-right: 5px dotted #ccc;
  border-bottom: 5px dotted #ccc;
  margin: 0 auto;
}
.y-about .dotted-long .title{
  position: absolute;
  left: 50%;
  margin-left: -75px;
  bottom: -55px;
  z-index: 3;
}
.y-about .dotted-long h3{
  font-weight: 400;
  text-align: center;
  font-size: 36px;
}
.y-about .dotted-long h5{
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  color: #666;
  margin-top: 44px;
}
.y-about .dotted-short{
  position: relative;
  top: -5px;
  left: -15px;
  height: 160px;
  width: 870px;
  border-radius: 60px;
  border-left: 5px dotted #ccc;
  border-top: 5px dotted #ccc;
  margin: 0 auto;
}
.y-about .dotted-long .block_one{
  position: absolute;
  width: 880px;
  height: 82px;
  background-color: #fff;
}
.y-about .dotted-short .block_one{
  position: absolute;
  left: 55px;
  width: 880px;
  height: 80px;
  background-color: #fff;
}
.y-about .dotted-long .block_two{
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 880px;
  height: 80px;
  background-color: #fff;
}
.y-about .dotted-short .block_two{
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 880px;
  height: 82px;
  background-color: #fff;
}
.y-about .dotted-long .block_three{
  position: absolute;
  bottom: 0;
  right: 50px;
  width: 880px;
  height: 80px;
  background-color: red;
  border-left: 5px dotted #ccc;
  border-top: 5px dotted #ccc;
  border-radius: 60px;
}
.about-us {
  padding-top: 140px;
  padding-bottom: 70px;
  height: 300px;
  background-image: url(/images/success-bg55.png);
  background-size: 100% 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.about-us .title {
  display: inline-block;
  /* margin-right: 17%; */
  margin-top: 232px;
}
.about-us p:nth-of-type(1) {
  text-align: center;
  font-size: 52px;
  font-weight: 400;
  font-family: "楷体";
  height: 40px;
}
.about-us p:nth-of-type(2) {
  text-align: center;
  font-size: 26px;
  font-weight: 400;
  line-height: 32px;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}
.y-about .title {
  text-align: center;
  font-size: 16px;
}
.y-about .subhead {
  text-align: center;
  margin-bottom: 30px;
}
.y-about .item h3 {
  font-weight: 400;
  text-align: center;
  font-size: 36px;
}

.y-about .item h5 {
  font-weight: 400;
  text-align: center;
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 90px;
  color: #666;
}
.y-about .item {
  /* height: 500px; */
  text-align: center;
  margin-bottom: 18px;
}
.y-about .item:last-child {
  margin-bottom: 0;
}
.y-about .item ul {
  /* height: 260px; */
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}
.y-about .item li {
  float: left;
  width: 378px;
  height: 240px;
  padding: 10px;
  border-radius:44px;
  border: 1px solid #ccc;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.y-about .item .about-arrow {
  margin-top: 70px;
}
.y-about .item li .desc {
  width: 264px;
  margin-top: 20px;
}
/* 分屏固定高 */
.fixHeight {
  /* margin: 40px auto; */
}
.fixHeight .function_block {
  width: 100%;
  /* width: 1280px; */
  padding: 130px 0;
  /* height: 380px; */
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  position: relative;
}
.function_block .cloud .selfdom_yunUp {
  position: absolute;
  bottom: 30px;
  right: 30px;
  width: 150px;
}
.function_block .cloud .selfdom_yunDown {
  position: absolute;
  top: 0px;
  left: 0;
  width: 650px;
}
.function_block .cloud .flow_yunUp {
  position: absolute;
  top: 0px;
  left: 0px;
  /* right: 0; */
}
.function_block .cloud .flow_yunDown {
  position: absolute;
  top: 0px;
  left: 0;
}
.function_block .cloud .group_yunUp {
  position: absolute;
  top: 0px;
  left: 0;
  width: 250px;
}
.function_block .cloud .group_yunDown {
  position: absolute;
  bottom: 0px;
  right: 0px;
  width: 550px;
}
.cloud .market_yunUp {
  position: absolute;
  top: 0px;
  left: 0px;
}
.cloud .market_yunDown {
  position: absolute;
  bottom: 0px;
  right: 0px;
}
.cloud .three_yunUp {
  position: absolute;
  top: 0px;
  left: 0px;
}
.cloud .smartIo_yunUp {
  position: absolute;
  top: 70px;
  left: 0px;
  width: 500px;
}
.cloud .smartIo_yunDown {
  position: absolute;
  bottom: 50px;
  right: 50px;
}
.fixHeight .function_block .distribute img {
  /* width: 550px; */
  /* height: 350px; */
}
.fixHeight .function_block .right img {
  /* transform: skewY(4deg); */
  /* transform:rotateX(-7deg); */
  /* box-shadow: 2px 4px 18px rgba(0, 0, 0, 0.3); */
}
.fixHeight .function_block .left img {
  /* transform: skewY(4deg); */
  /* transform:rotateX(-7deg); */
  /* box-shadow: -15px 15px 18px rgba(0, 0, 0, 0.3); */
}

.item_auto {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px 0;
}
.center_item {
  /* width: 60%; */
  width: 1280px;
  margin: auto auto;
  text-align: center;
  /* display: inline-block; */
}
.group_list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
}
.group_list .title {
  margin-bottom: 20px;
}
.group_list img {
  width: 100px;
  height: 100px;
}
.group_list div {
  text-align: center;
}
.group_list a {
  padding: 0 20px;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
}
/* 营销自动化工作原理 */
.title1 {
  /* opacity: 0; */
}
.big_img {
  position: relative;
}
.title1 {
  position: absolute;
  top: -90px;
  left: 10px;
}
.title2 {
  position: absolute;
  top: -90px;
  left: 300px;
}
.title3 {
  position: absolute;
  top: -90px;
  left: 600px;
}
.title4 {
  position: absolute;
  top: -90px;
  right: 0;
}
#funtion_h3 {
  margin: 0 auto;
  /* margin-bottom: 200px; */
  width: 1000px;
}
.comming-soon {
  height: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  /* text-align: center; */
}
.comming-soon .content {
  font-size: 80px;
  color: #333;
  font-weight: 600;
  text-shadow: 6px 3px 8px rgba(59, 59, 57, 0.65);
}
/* .commingSoon {
  background: url(/images/fast.png) no-repeat;
  background-size: 100% 100%;
} */
/* .comming-soon .content {
  position: relative;
  top: 200px;
  display: inline-block;
  width: 540px;
  margin: 0 auto;
  left: 50%;
  margin-left: -190px;
  display: flex;
  justify-content: center;
  align-items: center;
} */
.comming-soon .soon img {
  width: 150px;
  /* height: 100px; */
}
.comming-soon .soon {
  position: absolute;
  left: -48px;
  top: -90px;
}
.comming-soon {
  /* border-bottom: 1px solid #ccc; */
  /* margin-bottom: 30px; */
}
.footer-center {
  display: flex;
  justify-content: center;
  align-items: center;
}
/* 自动化滚屏添加小导航 */
.small_nav {
  position: fixed;
  top: 50%;
  margin-top: -107px;
  right: 20px;
  z-index: 7;
}
.small_nav a {
  display: block;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  background-color: #fff;
  margin: 5px 0;
}
.small_nav a:nth-of-type(1) {
  background-color: #ccc;
}
/* 咨询 */
.y-consult {
  position: fixed;
  padding: 5px;
  /* border: 1px solid #ccc; */
  bottom: 150px;
  right: 0;
  width: 40px;
  height: 40px;
  /* height: 130px; */
  background-color: #52bad5;
  border-radius: 4px;
  font-size: 14px;
  cursor: pointer;
  z-index: 7;
}
.right_now img {
  margin-top: 4px;
}
.y-consult .des {
  width: 14px;
  padding: 0 13px;
  margin-top: 10px;
}
.consult_win {
  position: absolute;
  bottom: 0;
  right: 60px;
  width: 270px;
  /* height: 380px; */
  background-color: #fff;
  border-radius: 4px;
  /* padding: 10px 0px;  */
  border: 1px solid #ccc;
  opacity: 0;
  height: 0;
  z-index: 7;
}
.consult_win .let {
  height: 32px;
  line-height: 32px;
  background-color: #52bad5;
  text-align: center;
  color: #fff;
  margin-bottom: 20px;
  font-size: 16px;
}
.consult_win .remark {
  padding: 0 10px;
  font-size: 12px;
  margin-bottom: 20px;
}
.consult_win .circle {
  height: 50px;
  padding: 0 10px;
  margin-bottom: 20px;
}
.consult_win .circle span {
  display: block;
}
.consult_win .circle input {
  width: 230px;
  padding: 0;
  margin: 0;
  height: 30px;
  padding: 0 10px;
  line-height: 30px;
  outline: none;
  border: 1px solid #ccc;
}
.consult_win .circle input:focus {
  outline: none;
}
.consult_win .chat {
  height: 32px;
  line-height: 32px;
  background-color: #52bad5;
  text-align: center;
  color: #fff;
  font-size: 16px;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
  margin-top: 10px;
}

/* 滚屏隔屏变色 */
.fixHeight:nth-child(odd) {
  /* background-color: #f2f2f2; */
}

/* 预约成功时蒙版 */
.matte {
  position: absolute;
  top: 0;
  left: 0;
  width: 100px;
  height: 1000px;
  background-color: rgba(0, 0, 0, 0.65);
  z-index: 6;
  display: none;
}
.yes {
  width: 500px;
  height: 300px;
  background-color: #fff;
  border-radius: 4px;
  position: absolute;
  text-align: center;
}
.yes span {
  font-size: 24px;
  line-height: 210px;
  display: block;
}
.yes .OK {
  width: 120px;
  height: 38px;
  line-height: 38px;
  border-radius: 4px;
  border: 1px solid #ccc;
  display: inline-block;
  margin: 0 auto;
}
