
    <div class="y-consult">
        <div class="right_now">
                <img src="/images/客服.png"/>
                <!-- <div class="des">立即咨询</div> -->
        </div>
          <div class="consult_win">
            <div class="let">Let's Chat</div>
            <div class="remark">为了保证我们能够联系到您，请填写真实信息</div>
            <form action="" method="post">
                <div class="circle">
                        <span>姓名</span>
                        <input type="" name="" value="" placeholder="" />
                    </div>
                    <div class="circle">
                            <span>电话</span>
                            <input type="" name="" value="" id="rr"  class="phone" placeholder="" />
                    </div>
                    <div class="circle">
                            <span>电子邮箱</span>
                            <input type="" name="" value="" class="email" placeholder="" />
                    </div>
                    <input class="chat" type="submit" value="立即咨询"/>
            </form>
            
          </div>  
    </div>

