<div class="provide-solution" id="provide_solution">
    <h3>为您提供的解决方案</h3>
    <div class="title">
        <div class="solutionA">
            <p>solutionA</p>
            <p>邮件发送平台</p>
            <span class="triangle">
                <span class="triangle_white"></span>
            </span>
        </div>
        <div class="solutionB">
            <p>solutionB</p>
            <p>API邮件通道嵌入</p>
            <span class="triangle">
                <span class="triangle_white"></span>
            </span>
        </div>
    </div>
    <div class="content">
        <div class="solution_example">
            <div class="solutionA_example example">
                <div class="block">
                    <img src="/images/solution1.png" />
                </div>

            </div>
            <div class="solutionB_example example">
                <div class="block">
                    <img src="/images/solution2.png" />
                </div>
            </div>
        </div>
    </div>
    <div class="text">
        <div>* 适用于事务型邮件、营销型邮件<a href="/post/about/form">了解更多&gt;&gt;</a></div>
        <div>* 适用于触发型邮件、事务型邮件、营销型邮件<a href="/post/about/form">了解更多&gt;&gt;</a></div>
    </div>
</div>