<div class="provide-solution">
        <!-- <h3>为您提供的解决方案</h3> -->
        <div class="title">
            <div class="solutionA">
                <!-- <p>solutionA</p> -->
                <p>短信发送平台</p>
                <span class="triangle">
                    <span class="triangle_white"></span>
                </span>
            </div>
            <div class="solutionB">
                <!-- <p>solutionB</p> -->
                <p>API短信通道嵌入</p>
                <span class="triangle">
                    <span class="triangle_white"></span>
                </span>
            </div>
        </div>
        <div class="content">
            <div class="solution_example">
                <div class="solutionA_example example">
                    <div class="block">
                        <img src="/images/noteA.png" />
                    </div>
    
                </div>
                <div class="solutionB_example example">
                    <div class="block">
                        <img src="/images/noteB.png" />
                    </div>
                </div>
            </div>
        </div>
        <div class="text">
                <div>* 适用于营销短信、营销彩信、语音验证码<a href="/post/about/form">了解更多&gt;&gt;</a></div>
                <div>* 适用于营销短信、营销彩信、语音验证码、验证码短信<a href="/post/about/form">了解更多&gt;&gt;</a></div>
        </div>
    </div>