<div class="y-form">
    <div class="formbg">
        此刻开始，为您服务！
    </div>
    <div class="information clearfix">
        <div class="left">
            <div class="block_one">
                <div class="title align_right">Step One</div>

                <div class="align_left content ">
                    请您填写右侧的表单进行提交
                    <br/> 请填写真实准确的信息方便我们联系到您
                </div>
            </div>
            <div class="block_one">
                <div class="align_right content content-sub ">
                    提交后我们会在2小时内联系到您，非工作日会在24小时内联系到您 未及时联系到您，请拨打电话：010-64429975
                </div>
                <div class="align_left title " id="title-sub">Step Two</div>
            </div>
            <div class="block_one">
                <div class="title align_right">Step Three</div>

                <div class="align_left content ">
                    我们将竭诚为您服务 针对您的需求结合产品特点，为您提供全套解决方案 非常感谢您对我司的关注与支持
                </div>
            </div>
            <div class="shape">
                <span class="shape_circle"></span>
                <span class="shape_wire"></span>
                <span class="shape_circle"></span>
                <span class="shape_wire"></span>
                <span class="shape_circle"></span>
                <span class="shape_wire"></span>
                <span class="shape_circle"></span>
                <span class="shape_wire"></span>
                <span class="shape_circle"></span>
            </div>

        </div>
        <div class="right">
            <h4>{{ .Site.Params.form_title2 }}</h4>
            <form id="mf" action="" method="post">
                <div id="mfFull">
                    <div class="text">
                        <p>公司名称</p>
                        <input type="" name="Company" value="dd" placeholder="" />
                        <img class="import" src="/images/import.png" />
                    </div>
                    <div class="text">
                        <p>姓名</p>
                        <input type="" name="Name" value="dd" placeholder="" />
                        <img class="import" src="/images/import.png" />
                    </div>
                    <div class="text">
                        <p>邮件地址</p>
                        <input type="" name="Email" value="24@qq.com" class="email" placeholder="" />
                        <img class="import" src="/images/import.png" />
                    </div>
                    <div class="text phone_block">
                        <p>手机号码</p>
                        <input type="" name="Mobile" value="18340820511" class="phone" placeholder="" />
                        <img class="import" src="/images/import.png" />

                    </div>
                    <div class="text phone_block">
                        <p>随机码</p>
                        <input class="code" type="" name="CheckCode" value="11w" placeholder="" />
                        <div class="random">
                            <img class="randomImg" src="https://wellemail.com/Service/CheckCodeImage" />
                        </div>
                        <div class="redraw" title="看不清，换一张">刷新</div>
                        <img class="import" src="/images/import.png" />
                    </div>
                    <div class="text phone_block">
                        <p>验证码</p>
                        <input class="code" type="" name="MobileCode" value="" placeholder="" />
                        <button class="code_button_mf" value="">点击获取验证码</button>
                        <img class="import" src="/images/import.png" />
                    </div>
                    <div class="text">
                        <p>演示产品</p>
                        <select name="Product">
                            <option value="">请选择</option>
                            <option value="">营销自动化</option>
                            <option value="">会员短信营销</option>
                            <option value="">会员邮件营销</option>
                        </select>
                        <img class="import" src="/images/import.png" />
                    </div>
                    <div class="submit">
                        <div class="tryOne">立即预约</div>
                    </div>
                </div>


            </form>
        </div>
    </div>


    <div class="matte">
        <div class="yes">
            <span>预约成功，请稍后！！</span>
            <div class="OK">OK</div>
        </div>
    </div>
</div>