<div class="about-us">
    <div class="title">
        <p>关于我们</p>
        <p>About Us</p>
    </div>

</div>
<div class="y-about">

    <!-- <div class="title">关于我们</div>
    <p class="subhead">About Us</p> -->
    <div class="item">
        <h3>
            <span>易 • 立</span>
            <div class="color-line"></div>
        </h3>
        <h5>不易初心 立小谋远 </h5>
        <ul>
            <li>
                <img src="/images/dream1.1.png" />
                <div class="desc">
                    <p>我们来自国内知名的互联网企业</p>
                    <p>汇聚一堂，各有千秋</p>
                    <p>有思维敏捷的技术鬼才</p>
                    <p>有独具慧眼的营销精英</p>
                    <p>有运营商背景的杰出才俊</p>
                </div>
            </li>
            <!-- <li class="about-arrow">
                <img src="/images/about-arrow.png" />
            </li> -->
            <li>
                <img src="/images/dream1.2.png" />
                <div class="desc">
                    <p>相同的梦想如同一块磁石</p>
                    <p>将我们聚在一起</p>
                    <p>我们为共同的梦想</p>
                    <p>理智的筹备</p>
                    <p>感性的激昂</p>
                </div>
            </li>
            <!-- <li class="about-arrow">
                <img src="/images/about-arrow.png" />
            </li> -->
            <li>
                <img src="/images/dream1.3.png" />
                <div class="desc">
                    <p>2015年初夏</p>
                    <p>北京易回眸科技有限公司成立</p>
                    <p>梦想照进现实</p>
                    <p>有了沉实的走向</p>
                </div>
            </li>
        </ul>
    </div>
    <div class="dotted-block">
        <div class="dotted-long">
            <div class="block_one"></div>
            <div class="title">
                <h3>回 • 声</h3>
                <h5>执念回声 产品为鉴</h5>
            </div>
            <div class="block_two"></div>

        </div>
        <div class="dotted-short">
            <div class="title-sub">
                    <!-- <h5>执念回声 产品为鉴</h5> -->
            </div>
            <div class="block_one"></div>
            <div class="block_two"></div>

        </div>
    </div>

    <div class="item">
        <!-- <h3>回 • 声</h3>
        <h5>执念回声 产品为鉴</h5> -->
        <ul>
            <li>
                <img src="/images/target1.1.png" />
                <div class="desc">
                    <p>获客成本疯狂增长</p>
                    <p>老客维护缺乏体系</p>
                    <p>面临企业的这些问题</p>
                    <p>我们迎难而上，锁定目标</p>
                    <p>立志为企业做灵活易用的营销工具</p>
                </div>
            </li>
            <!-- <li class="about-arrow">
                <img src="/images/about-arrow.png" />
            </li> -->
            <li>
                <img src="/images/target1.2.png" />
                <div class="desc">
                    <p>夜以继日，衣带渐宽</p>
                    <p> 我们走访客户</p>
                    <p>用最质朴真诚的沟通了解需求</p>
                    <p>我们不断尝试</p>
                    <p> 用最合理稳定的框架搭建系统</p>
                    <p>我们头脑风暴</p>
                    <p>用最简单易用的方式呈现功能</p>
                </div>
            </li>
            <!-- <li class="about-arrow">
                <img src="/images/about-arrow.png" />
            </li> -->
            <li>
                <img src="/images/target1.3.png" />
                <div class="desc">
                    <p>靡不有初 鲜克有终</p>
                    <p>凭借明确的目标和踏实的脚步</p>
                    <p>我们成功自主研发了三款基于大数据技术架构的产品</p>
                    <p>致力于为企业解决营销环节中遇到的问题</p>

                </div>
            </li>
        </ul>
    </div>
    <div class="dotted-block">
            <div class="dotted-long">
                <div class="block_one"></div>
                <div class="title">
                        <h3>眸 • 合</h3>
                        <h5>凝眸志合 并肩左右 </h5>
                </div>
                <div class="block_two"></div>
    
            </div>
            <div class="dotted-short">
                <div class="block_one"></div>
                <div class="block_two"></div>
    
            </div>
        </div>
    <div class="item">
        <!-- <h3>眸 • 合</h3>
        <h5>凝眸志合 并肩左右 </h5> -->
        <ul>
            <li>
                <img src="/images/family3.1.png" />
                <div class="desc">
                    <p>然而我们并没有止步于优质的产品</p>
                    <p>秉承卓越服务的理念</p>
                    <p>我们为每一个客户提供</p>
                    <p>顾问式一对一的营销策划服务</p>
                    <p>及时高效的客服团队为您答疑解惑</p>
                    <p>经验丰富的工程师团队进行技术支持</p>
                </div>
            </li>
            <!-- <li class="about-arrow">
                <img src="/images/about-arrow.png" />
            </li> -->
            <li>
                <img src="/images/family3.2.png" />
                <div class="desc">
                    <p>优质的产品</p>
                    <p>真挚的服务</p>
                    <p>让我们的客户群体逐年庞大</p>
                    <p>在与这些优质的客户合作</p>
                    <p>也促使我们改进完善</p>
                    <p>不断优化产品</p>
                    <p>坚持提升服务</p>
                </div>
            </li>
            <!-- <li class="about-arrow">
                <img src="/images/about-arrow.png" />
            </li> -->
            <li>
                <img src="/images/family3.3.png" />
                <div class="desc">
                    <p>所以我门的故事仍在继续</p>
                    <p>精彩纷呈，缺您不可...</p>
                </div>
            </li>
        </ul>
    </div>
</div>