<div class="y-apply y-applys">
    <h3>三大产品组</h3>
    <div class="model">
        <div class=" block">
            <a href="/post/automation">
                <img class="automation" src="/images/auto9.png" />
                <h5 class="title">营销自动化</h5>
                <h5 class="title-sub">Marketing Automation</h5>
                <div class="application">适用于</div>
                <div class="desc">
                    <div>
                        <p>需要自动化营销整体解决方案的企业</p>
                        <p>需要提升老客户回购率的企业</p>
                        <p>需要降低营销成本的企业</p>
                        <p>需要降低人力成本的企业</p>
                    </div>

                </div>
            </a>
        </div>
        <div class=" block">
            <a href="/post/email">
                <img src="/images/mail.png" />
                <h5 class="title">邮件营销</h5>
                <h5 class="title-sub">Email Marketing</h5>
                <div class="application">适用于</div>
                <div class="desc">
                    <div>
                        <p>需要会员邮件营销智能平台的企业</p>
                        <p>需要会员邮件个性化营销的企业</p>
                        <p>需要集成邮件发送通道的企业</p>
                        <p>需要触发事务型邮件的企业</p>
                    </div>

                </div>
            </a>
        </div>
        <div class=" block">
            <a href="/post/note">
                <img src="/images/note.png" />
                <h5 class="title">短信营销</h5>
                <h5 class="title-sub">SMS Marketing</h5>
                <div class="application">适用于</div>
                <div class="desc">
                    <div>
                        <p>需要会员短信营销智能平台的企业</p>
                        <p>需要会员短信落地中国大陆的国际企业</p>
                        <p>需要发送验证码短信的企业</p>
                        <p>需要发送海外短信的企业</p>
                    </div>

                </div>
            </a>
        </div>
    </div>

</div>