<div class="y-automation  item-default maketing functuon_block">
        <!-- <div class="cloud">
                <img class="market_yunUp" src="/images/left-top.png" />
                <img class="market_yunDown" src="/images/right-down.png" />
            </div> -->
    <div class="center">
        <h3 >营销自动化</h3>
        <h5 >Marketing Automation</h5>
        <!-- <p class="intro">营销自动化是以大数据架构为基础，面对海量会员自动化执行、完成各类复杂的营销场景、流程、数据分析等工作的云端企业级应用。营销自动化从根本改变了人工操作重复性市场营销流程的现状，取而代之的是为特定目标建立更加自动化、精准化、个性化的营销体系。</p> -->
        <div class="message">您的获得</div>
        <p class="harvest">为企业会员回购提升
            <span>10%</span>以上的销售收入</p>
        <p class="harvest">为企业会员营销降低
            <span>50%</span>以上的营销成本</p>
        <p class="harvest">为企业营销岗位节省
            <span>60%</span>以上的人力成本</p>
        <p class="harvest">为企业营销策划节省
            <span>80%</span>以上的沟通成本</p>
            <!-- <p class="title_4 opacity0"><img src="/images/auto_p.png" alt="自动化详述"/></p> -->
    </div>


</div>