<!-- <h3 class="function_ask">
    <span>功能详解</span>
</h3> -->

<div id="Group" class="fixHeight">
    <div class="y-autofunction function_block clearfix item_auto autofunction">
        <div class="cloud">
                <!-- <img class="group_yunUp" src="/images/leaf.png"/> -->
            
        </div>
        <div class="sample center_item">
            <div class="distribute">
                <div class="left">
                    <h4  class="">智能分组</h4>
                    <h5 class="">Smart Group</h5>
                    <p class="harvest title_2 opacity0">
                        <span>可视化</span>界面操作逻辑清晰可见</p>
                    <p class="harvest title_2 opacity0">
                        <span>亿</span>级数据整合运算能力</p>
                    <p class="harvest title_2 opacity0">海量会员数据
                        <span>秒</span>级定位</p>
                    <!-- <div class="message">价值体现</div> -->
                </div>
                <div class="right">
                    <img class="title_1 opacity0 group" src="/images/智能分组.png" />
                </div>

            </div>

        </div>
    </div>
</div>