<div id="Personal" class="fixHeight">
    <div>
        <div class="y-autofunction function_block clearfix item_auto character">
            <div class="cloud">
                    <!-- <img class="selfdom_yunUp" src="/images/tea.png"/> -->
              
                
            </div>
            <div class="sample center_item">
                <div class="distribute">
                    <div class="left">
                        <img class="title_1 opacity0" src="/images/auto2.png" />
                    </div>
                    <div class="right">
                        <h4 class="title_1 opacity0 text_color">
                                <!-- <img class="trim" src="/images/tea.png"/> -->
                            个性化
                            
                        </h4>
                        <h5 class="english title_1 opacity0 text_color">Individuation</h5>
                        <p class="harvest title_2 opacity0">
                            <span>图文</span>内容均可进行个性化设定</p>
                        <p class="harvest title_2 opacity0">
                            <span>全属性</span>设置个性化条件精准集中目标</p>
                        <p class="harvest title_2 opacity0">官网+微信+邮件+短信等
                            <span>多渠道</span>
                        </p>
                        <!-- <div class="message">价值体现</div> -->
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>