<div class="email-product clearfix">

    <h3 id="email_product">邮件产品群组</h3>
    <div class="show-card">
        <div class="c-left">
            <div class="left">
                
                <!-- <img class="product-head" src="/images/u290.png" />
                <div class="text">
                    <div>Tina，您好： </div>
                    <p>您是我司非常重要的SVIP会员。发现您申请了密码找回，</p>
                    <p>
                        <span>1.验证链接：https://xrewin.com/password/@#¥</span>
                        <span>2.输入认证码：1111 </span>
                    </p>

                    <p>
                        <span>如不是您本人操作，请及时与您的专属服务管家联系。400-400-XXX</span>
                        <span>非常感谢您对我们一如既往的信任与支持。谢谢！</span>
                    </p>

                </div>
                <div class="product-foot">
                    <img src="/images/u290.png" />
                    <div>
                        <span>摘要</span>
                        <span>隐私政策</span>
                        <span>退订</span>
                    </div>
                    <p>京ICP备16009175号-1</p>
                </div> -->
                <img src="/images/事务型邮件.png" />
            </div>
            
            <p class="tip">触发事务型邮件</p>
        </div>
        <div class="c-right">
            <div class="right">
                    <!-- <div class="product-head">营销自动化</div>
                    <img src="/images/u302.png" />
                    <div class="text">
                        <p>适用于</p>
                        <p>需要整体自动化营销解决方案的企业</p>
                        <p>需要提升老客户回购率的企业</p>
                        <p>需要降低营销成本的企业</p>
                        <p>需要降低人力成本的企业</p>
                        <div class="now">Buy Now</div>
                    </div>
                    <div class="annotation ">
                        <p>尊敬的会员，如您不想再收到我们此类邮件</p>
                        <p>请点击退订</p>
                    </div> -->
                    <img src="/images/营销型邮件.png" />
                </div>
            
            <p class="tip">营销型邮件</p>
        </div>

    </div>


</div>