<div class="y-email-market item-default">
        <!-- <div class="mark"> -->
                <div>
                        <h3 id="emailMarket">邮件营销</h3>
                        <h5>Email Marketing</h5>
                        <!-- <p class="intro">1969年第一封电子邮件问世，经历了50年的风风雨雨它仍作为全世界互联网第一大应用屹立在世人面前。在当今中国的营销领域中，邮件营销已死的声音不绝于耳。有人通过粗糙的实践印证了这个观点，有人还没有尝试就主观臆断相信了这一传言。古语有云：流丸止于瓯臾，流言止于智者。纵观世界，邮件营销仍是营销达人手中最常用的宝刀利刃。在今天，邮件营销顺应时代的变迁，它以超强的信息承载能力搭配个性化的营销内容，与短信、APP、微信等多应用、多入口的联动优势，焕发了新的生机与活力。选择它、拥有它、做好它，易回眸帮您开启成功的大门。</p> -->
                        <div class="message">您的获得</div>
                        <p class="harvest">您即将获得
                                <span>4</span>年的618营销经验</p>
                        <p class="harvest">您即将获得
                                <span>5</span>年的双11双12的营销经验</p>
                        <p class="harvest">您即将获得
                                <span>ESP</span>从业经验的服务团队</p>
                        <p class="harvest">您即将获得
                                <span>多变</span>的个性化内容</p>
                        <p class="harvest">您即将获得
                                <span>专业</span>的会员邮件营销策略与课程</p>
                        <!-- <p class="harvest">请往下继续探索...</p> -->
                </div>


        <!-- </div> -->
</div>