<div class="y-example">
    <div class="case">
        <div class="success">
            <div class="title">
                <div>
                    <h3>成功案例</h3>
                    <h5>Success Case</h5>
                </div>

            </div>

        </div>

        <div class="example-case">
            <!-- <h3>成功案例</h3> -->
            <div class="title">
                <div class="CaseA case">
                    <!-- <p>CaseA</p> -->
                    <p>案例A</p>
                    <!-- <span class="triangle">
                        <span class="triangle_white"></span>
                    </span> -->
                </div>
                <div class="CaseB case">
                    <!-- <p>CaseB</p> -->
                    <p>案例B</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
                <div class="CaseC case">
                    <!-- <p>CaseC</p> -->
                    <p>案例C</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
                <div class="CaseD case">
                    <!-- <p>CaseD</p> -->
                    <p>案例D</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
                <div class="CaseE case">
                    <!-- <p>CaseE</p> -->
                    <p>案例E</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
                <div class="CaseF case">
                    <!-- <p>CaseF</p> -->
                    <p>案例F</p>
                    <span class="triangle">
                        <span class="triangle_white"></span>
                    </span>
                </div>
            </div>
            <div class="content">
                <div class="Case_example">
                    <div class="CaseA_example example">
                        <div class="block">
                            <img src="/images/example1.png" />
                        </div>

                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/example2.png" />
                        </div>
                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/example3.png" />
                        </div>
                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/example4.png" />
                        </div>
                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/example5.png" />
                        </div>
                    </div>
                    <div class="CaseB_example example">
                        <div class="block">
                            <img src="/images/example6.png" />
                        </div>
                    </div>
                    <div class="CaseA_example example">
                        <div class="block">
                            <img src="/images/example1.png" />
                        </div>

                    </div>
                </div>
            </div>
            <div class="print">
                <div>* 监控会员注册事件+注册欢迎+等待时间+监控是否下单+针对未下单进行二次短信跟进+下单后监控付款+付款后进行感恩维护+未付款发起催付流程
                    <a href="/post/about/form">了解更多&gt;&gt;</a>
                </div>
                <div>* 针对定向会员+发送营销短信+监控短信点击情况+针对点击的会员进行下单监控+监控付款+购买完成进行关怀感恩
                    <a href="/post/about/form">了解更多&gt;&gt;</a>
                </div>
                <div>* 设置积分到期策略+按会员等级分流+发送短信通知+针对未点击短信的重要的会员进行二次提醒
                    <a href="/post/about/form">了解更多&gt;&gt;</a>
                </div>
                <div>* 设置积分变更策略+按会员等级分流+发送短信与邮件通知+针对未点击短信的重要的会员进行二次提醒
                    <a href="/post/about/form">了解更多&gt;&gt;</a>
                </div>
                <div>* 从物流发货开始+发送短信通知+同城到达+发送同城到达短信通知+收货+发送签收短信通知
                    <a href="/post/about/form">了解更多&gt;&gt;</a>
                </div>
                <div>* 设置生日祝福策略+发送祝福短信+发送邮件生日优惠+监控邮件打开+监控邮件点击优惠链接+监控下单+监控付款+付款后跳转到已有物流服务流程+未付款进入催付流程
                    <a href="/post/about/form">了解更多&gt;&gt;</a>
                </div>
            </div>

        </div>


        <!-- <div class="bulk">
            <div class="block">
                <h3>案例A</h3>
                <h5>Case A</h5>
                <img src="/images/example1.png" />
                <div class="tip">
                    <span>方案概述</span>
                    <p class="desc">监控会员注册事件+注册欢迎+等待时间+监控是否下单+针对未下单进行二次短信跟进+下单后监控付款+付款后进行感恩维护+未付款发起催付流程</p>
                </div>
                
            </div>
        </div>
        <div class="bulk">
            <div class="block">

                <h3 class="inverse">案例B</h3>
                <h5 class="inverse">Case B</h5>
                <img src="/images/example2.png" />
                <div class="tip inverse-border">
                    <span>方案概述</span>
                    <p class="desc inverse">针对定向会员+发送营销短信+监控短信点击情况+针对点击的会员进行下单监控+监控付款+购买完成进行关怀感恩</p>
                </div>
                
            </div>
        </div>

        <div class="bulk">
            <div class="block">
                <h3>案例C</h3>
                <h5>Case C</h5>
                <div class="block_center">
                    <div class="center1">
                        <img src="/images/example3_case1.png" />
                        <div class="tip">
                            <span>方案概述</span>
                            <p class="desc">设置积分到期策略+按会员等级分流+发送短信通知+针对未点击短信的重要的会员进行二次提醒</p>
                        </div>
                        
                    </div>
                    <div class="center2">
                        <img src="/images/example3_case2.png" />
                        <div class="tip">
                            <span>方案概述</span>
                            <p class="desc">设置积分变更策略+按会员等级分流+发送短信与邮件通知+针对未点击短信的重要的会员进行二次提醒</p>
                        </div>
                        
                    </div>
                </div>


            </div>
        </div>
        <div class="bulk">
            <div class="block">
                <h3 class="inverse">案例D</h3>
                <h5 class="inverse">Case D</h5>
                <p class="inverse">全自动化的服务策略</p>

                <img src="/images/example4_case1.png" />
                <div class="tip inverse-border">
                    <span>方案概述</span>
                    <p class="desc inverse">从物流发货开始+发送短信通知+同城到达+发送同城到达短信通知+收货+发送签收短信通知</p>
                </div>
                
                <img src="/images/example4_case2.png" />
                <div class="tip inverse-border">
                    <span>方案概述</span>
                    <p class="desc inverse">设置生日祝福策略+发送祝福短信+发送邮件生日优惠+监控邮件打开+监控邮件点击优惠链接+监控下单+监控付款+付款后跳转到已有物流服务流程+未付款进入催付流程</p>
                </div>
                
            </div>
        </div> -->


    </div>
    <!-- <div class="next">
        <a href="/post/form">继续探索</a>
    </div> -->
    <div class="thank">
        <h3>感恩有您</h3>
        <h5>期待您的加入</h5>
        <div class="thank_img">
            <div class="thanks">
                <div>
                    <img src="/images/yongle.png" />
                </div>
                <div>
                    <img src="/images/baoli.jpg" />
                </div>
                <div>
                    <img src="/images/ailand.png" />
                </div>
                <div>
                    <img src="/images/liyu.png" />
                </div>
                <div>
                    <img src="/images/aimu.png" />
                </div>
                <div class="citizen">
                    <img src="/images/u94.png" />
                </div>
            </div>
            <div class="thanks">
                <div>
                    <img src="/images/only.jpg" />
                </div>
                <div>
                    <img src="/images/jack.jpg" />
                </div>
                <div>
                    <img src="/images/vero.jpg" />
                </div>
                <div>
                    <img src="/images/selected.jpg" />
                </div>
                <div>
                    <img src="/images/u90.png" />
                </div>
            </div>
        </div>

    </div>
</div>