<header class="y-header ">
    <div class="b-center">
        <h1 class="header_logo">
            <a href="/">
                <img src="/images/logo.png" />
            </a>
        </h1>
        <nav>
            <ul class="sf-menu" id="example">
                <li class="nav_item current" mark="automation">
                    <a href="/post/automation" class="scope introduction">营销自动化</a>
                    <span class="line"></span>
                    <div class="child_nav_2">
                        <div class="nav_2_sub">
                            <a href="/post/automation#Group">
                                <img src="/images/nav_group.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/automation#Personal">
                                <img src="/images/nav_personal.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/automation#Flow">
                                <img src="/images/nav_flow.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/automation#Report">
                                <img src="/images/nav_report.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/automation#Smart">
                                <img src="/images/nav_io.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/automation#Marketing">
                                <img src="/images/nav_act.png" />
                            </a>
                        </div>
                    </div>
                </li>
                <li class="nav_item current" mark="email">
                    <a href="/post/email" class="scope show">邮件营销</a>
                    <span class="line"></span>
                </li>

                <li class="nav_item current" mark="note">
                    <a href="/post/note" class="scope">短信营销</a>
                    <span class="line"></span>
                </li>
                <li class="nav_item current" mark="about" mark="example">
                    <a href="/post/about" class="scope">探索发现</a>
                    <span class="line"></span>
                    <div class="child_nav_2">
                        <div class="nav_2_sub nav_2_sub2">
                            <a href="/post/about/example">
                                <img src="/images/nav_stories.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/about/form">
                                <img src="/images/nav_play.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/about/coming-soon">
                                <img src="/images/nav_support.png" />
                            </a>
                            <div class="stand"></div>
                            <a href="/post/about">
                                <img src="/images/nav_about.png" />
                            </a>
                        </div>
                    </div>
                </li>
            </ul>
        </nav>
        <div class="tip" id="tip">
            <div class="login">
                <a class="scope" href="https://xrewin.com/login">登录</a>
            </div>
            <div class="consult">
                <a class="scope" href="/post/about/form">方案咨询</a>
            </div>
            <div class="phone">
                <a class="scope" href="/post/form">
                    <img src="/images/电话.png" /> 010-64429975
                </a>
            </div>
        </div>
    </div>
</header>