<div class="y-more-information">
    <h3 class="title">您所需要了解的信息</h3>
    <div class="block">
        <div class="item">
            <!-- <div>
                <img src="/images/高速通道 .png" />
                <span>关于通道</span>
            </div>

            <div class="information">
                <div>
                    <strong>关于通道</strong>
                    <p>免费申请短信签名</p>
                    <p>免费申请触发短信通道</p>
                    <p>免费申请营销短信通道</p>
                </div>
            </div> -->
            <div class="">关于通道：免费申请短信签名、免费申请触发短信通道、免费申请营销短信通道；</div>

        </div>
        <div class="item">
            <!-- <div>
                <img src="/images/功能.png" />
                <span>关于功能</span>
            </div>

            <div class="information">
                <div>
                    <strong>关于功能</strong>
                    <p>支持上下行短信内容</p>
                    <p>支持数据跟踪与统计</p>
                    <p>支持手工触发短信</p>
                    <p>支持个性化变量应用</p>
                </div>

            </div> -->
            <div class="">关于通道：免费申请短信签名、免费申请触发短信通道、免费申请营销短信通道；</div>
        </div>
        <div class="item">
            <!-- <div>
                <img src="/images/质量保证.png" />
                <span>关于质量</span>
            </div>

            <div class="information">
                <div>
                    <strong>关于质量</strong>
                    <p>送达率99%以上</p>
                    <p>优质验证码通道短信5秒迅达</p>
                    <p>多通道部署面对海量短信发送</p>
                    <p>数据回传反馈</p>
                </div>

            </div> -->
            <div class="">关于通道：免费申请短信签名、免费申请触发短信通道、免费申请营销短信通道；</div>
        </div>
    </div>
    <div class="image" style="margin: 0 auto;width: 300px;margin-bottom: 30px;">
        <img style="width: 300px;" src="/images/auto_three.jpg"/>
    </div>
    <div class="tip">由于环境与使用场景不同，以上说明仅供参考，以实际使用为准</div>
</div>