<div id="Marketing" class="fixHeight">
    <div class="y-autofunction function_block clearfix item_auto marketing">
        <div class="cloud">
           
            <!-- <img class="smartIo_yunDown" src="/images/fudie.png" /> -->
        </div>
        <div class="sample center_item">
            <div class="distribute">
                <div class="left">
                    <img class="title_1 opacity0" src="/images/auto6.png" />
                </div>
                <div class="right">
                    <h4 class="title_1 opacity0 text_color">营销互动</h4>
                    <h5 class="english title_1 opacity0 text_color">Interaction Marketing</h5>
                    <p class="harvest title_2 opacity0">系统自带
                        <span>营销渠道</span>免去对接部署的烦恼</p>
                    <p class="harvest title_2 opacity0">
                        <span>多样性</span>的营销互动载体</p>
                    <p class="harvest title_2 opacity0">
                        <span>官网</span>广告位+弹窗个性化推荐</p>
                    <!-- <div class="message ">价值探索 ...</div> -->
                </div>
            </div>
        </div>
    </div>
</div>