<div class="y-more-information">
    <div class="center">
        <!-- <h3 class="title">您所需要了解的信息</h3> -->
        <div class="block">
            <div class="item">
                <div>
                    <img src="/images/质量保障.png" />
                    <span>关于质量</span>
                </div>

                <div class="information">
                    <div>
                        <strong>关于质量</strong>
                        <p>95%以上的发送成功率</p>
                        <p>优秀的收件箱到达效果</p>
                        <p>专业的技术配置</p>
                        <p>拒绝发送任何一封垃圾邮件</p>
                    </div>

                </div>

            </div>
            <div class="item">
                <div>
                    <img src="/images/短信功能配置.png" />
                    <span>关于功能</span>
                </div>

                <div class="information">
                    <div>
                        <strong>关于功能</strong>
                        <p>个性化引擎驱动图文变化</p>
                        <p>支持丰富的个性化参数</p>
                        <p>全方位的效果跟踪</p>
                        <p>丰富的数据分析报表</p>
                    </div>

                </div>

            </div>
            <div class="item">
                <div>
                    <img src="/images/服务.png" />
                    <span>关于服务</span>
                </div>

                <div class="information">
                    <div>
                        <strong>关于服务</strong>
                        <p>1对1的专属营销顾问</p>
                        <p>会员邮件营销策划服务</p>
                        <p>会员邮件内容优化服务</p>
                        <p>会员邮件营销培训课程</p>
                    </div>

                </div>

            </div>
        </div>

        <div class="tip">由于环境与使用场景不同，以上说明仅供参考，以实际使用为准</div>
    </div>

</div>