<div id="note_product" class="y-note-product">
    <div class="icon">
        <img src="/images/leaf2.png"/>
    </div>
    <h3>短信产品群组</h3>
    <ul>
        <li class="code">
            <div class="model">
                <div class="content">【易回眸】尊敬的用户，您好！您的注册验证码为：XXXXXX，请在30分钟内输入有效。感谢您对我们的关注与厚爱！</div>
            </div>
            <p>验证码短信</p>
        </li>
        <li class="voice">
            <div class="model">
                <div class="voice">
                    <p class="come">
                        <span>来自</span>
                        <span class="bold">106964429975</span>
                    </p>
                    <p>
                        <span class="bold">语音验证码</span>
                        <span class="bold">...</span>
                    </p>
                    <p class="phone">
                        <span class="refuse"><img src="/images/挂断电话.png"/></span>
                        <span class="answer"><img src="/images/电话(1).png"/></span>
                    </p>
                </div>
            </div>
            <p>语音验证码</p>
        </li>
        <li class="market">
            <div class="model">
                <div class="content">【易回眸】BC01系列复古机械键盘隆重推出。用复古诠释经典，用科技发现文明。游走指尖的声响，书写文字的重量，键入您我的岁月芳华！</div>
            </div>
            <p>会员营销短信</p>
        </li>
        <li class="MMS">
            <div class="model">
                <div class="content">【易回眸】亲爱的朋友，全球变暖急剧加速，冰川融化已经对北极熊的生活造成了严重的影响。让我们共同守护同一片蓝天，保护我们共同的家园--地球！<img src="/images/bear.png"/></div>
                
            </div>
            <p>会员彩信</p>
        </li>
    </ul>
</div>