<div class="y-note content-center item-default">
    <h3>会员短信营销</h3>
    <h5>SMS Marketing</h5>
    <p class="intro">短信营销应该关注什么？回答这个问题可别落入了送达率和发送速度的窠臼，因为这些指标是短信营销的基础配置，而不是脱颖而出的关键因素。随着社会的进步与移动互联网时代的来临，短信营销已不单纯的是一种群发工具、一种营销互动方式。对于它的标准需要重新定义。如何抓住消费者的眼球？如何建立消费者的信任？如何减少骚扰提高满意度？如何适应更多的营销场景？如何让它成为您手中的一把营销利刃，您的选择至关重要。</p>
    <div class="message">你的获得</div>
    <p class="harvest">您即将获得<span>4</span>年的618营销经验</p>
    <p class="harvest">您即将获得<span>5</span>年的双11双12的营销经验</p>
    <p class="harvest">您即将获得<span>丰富</span>的营销策略</p>
    <p class="harvest">您即将获得<span>行业</span>的解决方案</p>
   <div class="go">请往下继续探索...</div>
</div>