<div id="note_solution" class="y-solution">
        <h3 class="solution">为您提供的解决方案</h3>
        <div class="solutionA">
            <div class="title">solutionA</div>
            <h3>短信发送平台</h3>
            <div class="content">
                <div class="tip">适用于发送</div>
                <div class="type">
                    <span>营销短信</span>
                    <span>营销彩信</span>
                    <span>语音验证码</span>
                </div>
                <img src="/images/noteA.png" />
            </div>
        </div>
        <div class="solutionA">
            <div class="title">solutionB</div>
            <h3>API短信通道嵌入</h3>
            <div class="content">
                <div class="tip">适用于发送</div>
                <div class="type">
                    <span>营销短信</span>
                    <span>营销彩信</span>
                    <span>验证码短信</span>
                    <span>语音验证码</span>
                </div>
                <img src="/images/noteB.png" />
            </div>
       
        </div>
        <!-- <div class="more"><a href="/post/form">方案咨询</a></div> -->
    </div>