<div id="Smart" class="fixHeight">

    <div class="y-autofunction function_block clearfix item_auto smartIo">
        <div class="cloud">
            <!-- <img class="smartIo_yunUp" src="/images/plant.png" /> -->
     
        </div>
        <div class="sample center_item">
            <div class="distribute">

                <div class="left">
                    <h4 class="title_1 opacity0 text_color">智能埋点</h4>
                    <h5 class="english title_1 opacity0 text_color">Smart Io</h5>
                    <p class="harvest title_1 opacity0">
                        <span>无埋点</span> 技术采集官网浏览行为</p>
                    <p class="harvest title_2 opacity0">
                        <span>实时监控</span> 浏览行为捕获销售时机</p>
                    <p class="harvest title_3 opacity0">
                        <span>浏览行为</span> 可作为营销触发条件</p>
                </div>
                <div class="right h3_title opacity0">
                    <img class="title_1 opacity0" src="/images/auto5.png" />
                </div>

            </div>
        </div>

    </div>




</div>



</div>