<div class="y-solution">
    <h3 class="solution">为您提供的解决方案</h3>
    <div class="solutionA">
        <div class="title">solutionA</div>
        <h3>邮件发送平台</h3>
        <div class="content">
            <div class="tip">适用于发送</div>
            <div class="type">
                <span>事务型邮件</span>
                <span>营销型邮件</span>
            </div>
            <img src="/images/solution1.png" />
        </div>
    </div>
    <div class="solutionA">
        <div class="title">solutionB</div>
        <h3>API邮件通道嵌入</h3>
        <div class="content">
            <div class="tip">适用于发送</div>
            <div class="type">
                <span>触发型邮件</span>
                <span>事务型邮件</span>
                <span>营销型邮件</span>
            </div>
            <img src="/images/solution2.png" />
        </div>
   
    </div>
    <div class="more"><a href="/post/form">方案咨询</a></div>
</div>