<div class="y-teamwork">
        <div class="size">
                <h3 class="h3_title">轻量级的合作模式</h3>
                <div class="content ">
                        <div class="item">
                                <img class="title_1 opacity0" src="/images/SaaS管理.png" />
                                <p class="text_1 opacity0">SAAS</p>
                        </div>
                        <div class="item">
                                <img class="title_2 opacity0" src="/images/部署方案.png" />
                                <p class="text_2 opacity0">本地化部署</p>
                        </div>
                        <div class=" item">
                                <img class="title_3 opacity0" src="/images/模块.png" />
                                <p class="text_3 opacity0">模块集成</p>
                        </div>
                </div>
        </div>
</div>