<h3 class="function_ask">工作原理</h3>
<div class="fixHeight">
    <div class="y-theory item_auto">
        <div class="sample center_item">
            
            <div class="auto_theory ">

                <div class="content big_img">
                    <img src="/images/u182.png" />
                    <!-- <div class="function1 "><img class="function1 opacity0" src="/images/content1.png"/></div>
                            <div><img class="arrow1 opacity0" src="/images/new_arroow.png"/></div>
                        
                            <div><img class="function2 opacity0" src="/images/y-p-m.png"/></div>
                            <div><img class="function2 opacity0" src="/images/more_thing.png"/></div>
                            <div><img class="arrows opacity0" src="/images/arrow-five.png"/></div>
                            <div><img class="add_thing opacity0" src="/images/add.png"/></div>
                            
                            <div><img class="arrows_five opacity0" src="/images/arrows-five.png"/></div>
                            <div><img class="people opacity0" src="/images/people.png"/></div>
                            <div><img class="cover_arrow opacity0" src="/images/cover_arrow.png"/></div>
                            <div><img class="data opacity0" src="/images/shuju.png"/></div>
                            <div class="title">
                                <div><img class="title1 opacity0 title_1" src="/images/theoryone.png"/></div>
                                <div><img class="title2 opacity0 title_2" src="/images/theroytwo.png"/></div>
                                <div><img class="title3 opacity0 title_3" src="/images/theorythree.png"/></div>
                                <div><img class="title4 opacity0 title_4" src="/images/theoryfour.png"/></div>
                            </div> -->
                </div>
            </div>
        </div>

    </div>
</div>