<div id="Flow" class="fixHeight">
    <div class="y-autofunction function_block clearfix item_auto workflow">
        <div class="cloud">
            <!-- <img class="flow_yunUp" src="/images/report_top.png" /> -->
            
        </div>
        <div class="sample center_item">
            <div class="distribute">
                <div class="left">
                    <h4 class="title_1 opacity0 text_color">工作流</h4>
                    <h5 class="english title_1 opacity0 text_color">Work Flow</h5>


                    <p class="harvest title_2 opacity0">以
                        <span>每个人</span> 的行为及属性为核心的工作流并非群体营销的流程图</p>
                    <p class="harvest title_2 opacity0">
                        <span>事件触发</span> 实时捕获销售机会</p>
                    <p class="harvest title_2 opacity0">
                        <span>自动化</span> 执行各种复杂的营销场景</p>
                    <p class="harvest title_2 opacity0">
                        <span>多流程</span> 跳转合并已有流程提升营销效率</p>
                    <!-- <div class="message">价值体现</div> -->
                </div>
                <div class="right">
                    <img class="title_1 opacity0" src="/images/auto3.png" />
                </div>
            </div>
        </div>
    </div>
</div>